---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="About | Pepe Ramos"
  description="About Pepe Ramos Lorem Ipsum"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      >
        <img
          width="1553"
          height="873"
          src="/assets/at-work.jpg"
          alt="Barcelona skyline"
        />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <br />

          <p>
            I have always been curious about how the technologies we use every
            day work. That's the reason why I started using different Linux
            distributions and understanding a bit more how the Internet works
            while studying what I like, philosophy.
          </p>
          <br />

          <p>
            Later I joined IT Academy, there I discovered that logic would be
            useful for me in Backend so I decided to study Java. I started to
            compete and work in a team with the Frontend people. Until I
            developed curiosity for design and then I started programming in
            Front as well.
          </p>
          <br />
          <p>
            Photography and philosophy have helped me on this path and made web
            development something I like to be in every day.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <h5>Master Web Developer</h5>
          <p class="place-year">UOC 2023-Currently</p>
          <p>
            I am studying web and application development at the<a
              href="https://www.uoc.edu/es/estudios/masters/master-universitario-desarrollo-sitios-aplicaciones-web"
            >
              Open University of Catalonia</a
            >.
          </p>
          <h5>Bootcamp Java</h5>
          <p class="place-year">
            <a href="https://cibernarium.barcelonactiva.cat/it-academy2"
              >IT Academy</a
            > Barcelona 2021-2022
          </p>
          <p>
            To get into Bootcamp I had to pass an exam and take an introductory
            programming course. After that, I decided to specialize in Java,
            where I started with the basics and ended up developing APIs. During
            this time I participated in several competitions.
          </p>
          <h5>Philosophy Degree</h5>
          <p class="place-year">UB 2016-2020</p>
          <p>
            I did a degree in philosophy at the <a
              href="https://web.ub.edu/es/web/estudis/w/grau-G1060?subjects"
              >University of Barcelona</a
            >. In third year, I did Erasmus at the <a
              href="https://www.uniroma1.it/en/pagina-strutturale/home"
              >Sapienza</a
            > in Rome, where I learned Italian.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <p>
            Java, Python, JS, HTML5, CSS, SQL, MongoDB, Git, SpringTools,
            SpringBoot, Microservices, Reactive web, Astro, Maven, Gradle,
            Docker, Unix and more.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Languages</h2>
        <div class="content">
          <p>Native Spanish</p>
          <p>Native Catalan</p>
          <p>B2 English</p>
          <p>B2 Italian</p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
